body
{
	list-style : none;
}

#modification_champ
{
	padding-top : 20px;
}

#button_change
{
	background-color: #357a38;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

#button_change:active
{
	background-color: #4CAF50;
}

#tailleTxtBtn
{
    font-size: 115%;
}